<?xml version="1.0" encoding="utf-8"?>
<module>
  <!--<clientModule initializer="app.ModuleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <clientResources>
    <add name="epi-cms.widgets.base"
         path="Styles/EpiserverEditMode.css"
         resourceType="Style"/>
  </clientResources>
  <dojo>
    --><!-- Add a mapping from app to ~/ClientResources/Scripts to the dojo loader configuration --><!--
    <paths>
      <add name="app" path="Scripts" />
    </paths>
  </dojo>-->
  <assemblies>
    <add assembly="OptimizelyCmsBlazorComponentAddonsDemo" />
  </assemblies>
</module>