@using Microsoft.AspNetCore.Components
@using Seb.Public.Website.Features.BlazorTest
@inherits MyCounterBase

<p>ContentId:@ContentId, Current count: @Count</p>

<button @onclick="IncrementCount" class="btn btn-primary">Click me</button>

@code {

}
