@using Microsoft.AspNetCore.Components
@using OptimizelyCmsBlazorComponentAddonsDemo.Features.BlazorTest
@inherits MyBlazorCounterComponentBase

<p>ContentId:@ContentId, Current count: @Count</p>

<button @onclick="IncrementCount" class="btn btn-primary">Click me</button>

@code {

}
