@using OptimizelyCmsBlazorComponentAddonsDemo.Features.BlazorTest
@{
    Layout = "/Views/Shared/Layouts/_LayoutBlazorAdminPage.cshtml";
}
<h1>Overview</h1>
<p><span class="axiom-typography--body">Overview of the blazor global add-on.</span></p>

<p><strong>|---</strong>
    @(await Html.RenderComponentAsync<OptimizelyCmsBlazorComponentAddonsDemo.Features.BlazorTest.MyBlazorCounterComponent>(Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Server))
    <strong>---|</strong>
</p>
